# Diretório local do Terraform
.terraform/

# Arquivos de estado (NUNCA versionar!)
*.tfstate
*.tfstate.*

# Logs do Terraform
crash.log
crash.*.log

# arquivos de variáveis sensíveis
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Pasta gerada pelo plano
.terraform.lock.hcl
terraform.tfplan
